<p id="notice"><%= notice %></p>

<p>
  <strong>Alerts:</strong>
  <%= @business.alerts %>
</p>

<p>
  <strong>Date:</strong>
  <%= @business.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @business.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @business.detail %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
