<%= form_for(@business_alert) do |f| %>
  <% if @business_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_alert.errors.count, "error") %> prohibited this business_alert from being saved:</h2>

      <ul>
      <% @business_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
